body{
    margin:0;
    font-family:Arial, sans-serif;
}

header{
    background:#333;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

main{
    padding:40px;
    min-height:400px;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}